<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Teste</h1>
    <input type="text" name="palavra" id="palavra">
    <button onclick="enviar()" >Enviar</button>
    <hr>
    <p id="resultado"></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js"></script>
<script>

    let socket = io("http://localhost:8080");
    socket.on("disconnect", () => {
        console.log("Desconectado");
    })

    socket.on("resultado", (data) => {
        let elemento = document.getElementById("resultado");
        elemento.innerText = data;
        console.log(data);
    })
    function enviar () {
        let input = document.getElementById("palavra")
        socket.emit("palavra", input.value)
    }
</script>
</html>